{% extends "app1/base.html" %}
{% block title %}聊天室{% endblock %}
{% block content %}
<!--聊天框-->
 <div class="list-group col-md-10 col-md-offset-1 well">
    <div class="list-group-item" id="context">
        {% for chat in chats %}
        <h4 class="list-group-item-heading">{{chat.sender_id}}用户:{{chat.content}}</h4>
        <p class="list-group-item-text">{{chat.time}}</p>
        <br>
        {% endfor %}
        <input type="hidden" class="chat_id" id='last_chatid' value="{{chatid}}"/>
    </div>
</div>


<form  class="form-horizontal panel container" id="form1" method="POST" onsubmit="return false" action="##">
    {% csrf_token %}
    <div class="form-group col-md-10">
        <textarea type="text" name="content" id="content" value="" class="form-control" placeholder=""></textarea>
    </div>
    <div class="form-group col-md-4">
        <input type="hidden" name="post_type" value="send_chat" />
    </div>
            <input type="submit" class="btn btn-lg btn-primary" value="发送" onclick="login()"/>
    <input type="submit" class="btn btn-lg btn-primary" value="刷新" onclick="refresh()"/>
</form>

{% endblock %}

{% block script %}


<script  type="text/javascript" src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js">
  </script>

<script>//实现聊天框的实时更新

    function createTable(){
        var last_chatid=document.getElementById('last_chatid').value;

        $.ajax({
            type:'POST',
            url:"index2",
            data:{
                'csrfmiddlewaretoken': "{{ csrf_token }}",
                'post_type':'get_chat',
                'last_id':last_chatid
            },
            dataType:"json",
            success:function(result){
                for(var i=0;i<result.chats.length;i++){
                    let div = document.getElementById('context') //获得容器目标
                    h4=document.createElement("h4")
                    h4.className='list-group-item-heading'
                    h4.innerHTML=result.chats[i].fields.sender+"用户:"+result.chats[i].fields.content
                    div.appendChild(h4)
                    p = document.createElement("p")
                    p.className='list-group-item-text'
                    p.innerHTML=result.chats[i].fields.time
                    div.appendChild(p)
                    br=document.createElement("br")
                    div.appendChild(br)
                    document.getElementById('last_chatid').value=result.chats[i].pk
                }
                // document.getElementById('last_chatid').value=result.chats[-1].pk
                console.log(result.chats)
                console.log("刷新聊天框")
                // $('#contentText').html(str);//将str移到id为contenText的标签上
            },
            error:function(result){
                alert(result);
            }
        })
    }
    setInterval('createTable()', 1000 );//执行刷新聊天框的功能
 function login(){
     var last_chatid=document.getElementById('last_chatid').value;
    var data=document.getElementById('content').value;
        $.ajax({
            url:"index2",
            data:{
                'content':data,
                'csrfmiddlewaretoken': "{{ csrf_token }}",
                'post_type':'send_chat',
                'last_id':last_chatid
            },
            type:'post',
            success:function(result){
                console.log(result);
                if(result.state==200){
                    alert(result.message);
                }
            },
            error:function(){
                alert("异常");
            }
        })
    document.getElementById('content').value=''
    }
 function refresh(){
    location.reload();
 }
</script>

{% endblock %}


